<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>edit the content</h2>
    <h3> username : @<%= singlepost.username %></h3>
    <h3> id  : @<%= singlepost.id %></h3>

    <form method="POST" action="/posts/<%= singlepost.id %>?_method=PATCH">
        <textarea name="content"><%= singlepost.content %></textarea>
        <button type="submit">EDIT </button>
      </form>
</body>
</html>