<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="enter user" name="username">
        <input placeholder="enter content" name="content">
        <button>Submit</button>
    </form>

   
</body>
</html>